<div class="d-flex bg-dark h-100">
  <div style="width:300px;min-width:300px;" class="d-flex flex-column m-4 p-4 bg-light rounded">
    <div class="d-flex border-bottom pb-2 mb-2">
      <select class="form-control form-control-sm" [(ngModel)]="deck">
        <option *ngFor="let d of project.decks" [value]="d">
          {{d.name}}
        </option>
      </select>
      <button class="btn btn-outline-success btn-sm ml-2">+</button>
    </div>
    <ng-container *ngIf="deck">
      <app-sidebar class="h-100" [(deck)]="deck" [printParams]="project.print"></app-sidebar>
    </ng-container>
  </div>
  <div class="d-flex flex-column my-4 mr-4 w-100">
    <ng-container *ngIf="deck">
      <app-preview class="h-100" [deck]="deck" [printParams]="project.print"></app-preview>
    </ng-container>
  </div>
</div>
