<ng-container *ngIf="deck">

  <div class="wrapper d-flex flex-column">

    <div class="d-flex align-item-center justify-content-center p-2 border-bottom" style="min-height: 60px;">
      <div class="btn-group btn-sm">
        <button type="button" class="btn btn-outline-secondary" [ngClass]="{active:activeView==='TEMPLATE'}" (click)="selectView('TEMPLATE')">Template</button>
        <button type="button" class="btn btn-outline-secondary" [ngClass]="{active:activeView==='DATASET'}" (click)="selectView('DATASET')">Dataset</button>
        <button type="button" class="btn btn-outline-secondary" [ngClass]="{active:activeView==='PDF'}" (click)="selectView('PDF')">PDF</button>
      </div>
    </div>

    <ng-container *ngIf="activeView==='TEMPLATE'">
      <div class="d-flex w-100 h-100">
        <div style="width:300px;min-width:300px;">
          <div class="p-3">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label>Width</label>
                  <div class="input-group input-group-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="deck.width" (keyup)="previewCard()">
                    <div class="input-group-append">
                      <span class="input-group-text">mm</span>
                    </div>
                  </div>
                  <small class="form-text text-muted">{{(deck.width * 0.0393701).toFixed(2)}}"</small>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label>Height</label>
                  <div class="input-group input-group-sm">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="deck.height" (keyup)="previewCard()">
                    <div class="input-group-append">
                      <span class="input-group-text">mm</span>
                    </div>
                  </div>
                  <small class="form-text text-muted">{{(deck.height * 0.0393701).toFixed(2)}}"</small>

                </div>
              </div>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" [(ngModel)]="showSafeBox" (keyup)="previewCard()">
                Show safe-box
              </label>
            </div>
            <div class="form-group">
              <label for="">DPI</label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="project.print.dpi" (keyup)="previewCard()">
              <small class="form-text text-muted">PDF Default is : 72</small>
            </div>
            <div class="form-group">
              <label for="">Background</label>
              <input type="color" class="form-control form-control-sm" [(ngModel)]="deck.background" (change)="previewCard()">
            </div>
          </div>
        </div>
        <div class="d-flex flex-column w-100 bg-dark align-items-center">
          <div class="d-flex align-items-center justify-content-center w-100 flex-grow-1 text-truncate">
            <canvas #canvas class="bg-light shadow rounded border border-white" style="transition: all .7s ease"></canvas>
          </div>
          <div class="m-2 d-flex">
            <div class="form-group mx-1 my-0">
              <select class="form-control form-control-sm bg-dark text-secondary" [(ngModel)]="side" (change)="previewCard()">
                <option value="front">Front</option>
                <option value="back">Back</option>
              </select>
            </div>
            <div class="form-group mx-1 my-0">
              <select class="form-control form-control-sm bg-dark text-secondary" [(ngModel)]="zoom" (change)="previewCard()">
                <option *ngFor="let zoomOption of zoomList" [value]="zoomOption">Zoom {{zoomOption}}%</option>
              </select>
            </div>
            <div class="form-group mx-1 my-0">
              <select class="form-control form-control-sm bg-dark text-secondary" [(ngModel)]="previewIndex" (change)="previewCard()">
                <option *ngFor="let dataItem of deck.data; let i = index" [value]="i">Preview #{{i+1}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="activeView==='DATASET'">
      <ace fxFlex="auto" [config]="aceConfig" (valueChange)="parseData()" [(value)]="dataStr">
      </ace>
    </ng-container>


    <ng-container *ngIf="activeView==='PDF'">
      <iframe #pdfv src="" frameborder="0" class="bg-light w-100 h-100" style="height:500px"></iframe>
    </ng-container>
  </div>

</ng-container>
